<div class="container">

  <div class="col-md-12">
    <%= flash[:notice] %>
  </div>

  <div class="col-md-12">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
  </div>


  <div class="col-md-12" id="comment_list">
    <% if @post.comments.any? %>
      <h4>Comments:</h4>
      <% @post.comments.each do |comment| %>
        <div class="col-md-12">
          <%= comment.body %>
          <% if comment.user == current_user %>
            <%= link_to "Edit Comment", edit_post_comment_path(comment.post_id, comment.id) %>
            <%= link_to "Delete Comment", post_comment_path(comment.post_id, comment.id),
                                  :data => {:confirm => "Sure you wanna?",
                                            :method => "delete"} %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="col-md-12">
      <%= link_to "Add Comment", new_post_comment_path(@post),
            id: 'new_comment',
            class: "btn btn-sm btn-success",
            remote: true %>
    </div>
  <% else %>
    <div class="col-md-12">
      <%= link_to "Sign in to comment", new_user_session_path %>
    </div>
  <% end %>

    <div class="col-md-12">
    <% if @post.user == current_user %>
        <%= link_to "Edit Post", edit_post_path,
                                      :class => "btn btn-sm btn-info" %>
        <%= link_to "Delete Post", post_path(@post),
                                      :data => {:confirm => "Sure you wanna do that?",
                                                :method => "delete" },
                                      :class => "btn btn-sm btn-danger",
                                      :style => "margin: 10px 0;" %>
    <% end %>
      <%= link_to "Return to posts", posts_path,
                                  :class => "btn btn-sm btn-primary" %>
  </div>

</div>
