<div class="container">

  <div class="col-md-12">
    <%= flash[:notice] %>
  </div>

  <div class="col-md-12">
    <h3><%= @post.title %></h3>
    <p><%= @post.body %></p>
  </div>

  <div class="col-md-12">
    <% if @post.comments.any? %>
      <h4>Comments:</h4>
        <% @post.comments.each do |comment| %>
          <div class="col-md-12">
            <%= comment.body %>
            <%= link_to "Edit", edit_post_comment_path(comment.post_id, comment.id) %>
            <%= link_to "Delete", post_comment_path(comment.post_id, comment.id),
                                  :data => {:confirm => "Sure you wanna?",
                                            :method => "delete"} %>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="col-md-12">
    <%= link_to "Add comment", new_post_comment_path(@post),
                                  :class => "btn btn-sm btn-success" %>
  </div>
  <div class="col-md-12">
    <%= link_to "Edit Post", edit_post_path,
                                  :class => "btn btn-sm btn-info" %>
    <%= link_to "Delete Post", post_path(@post),
                                  :data => {:confirm => "Sure you wanna do that?",
                                            :method => "delete" },
                                  :class => "btn btn-sm btn-danger",
                                  :style => "margin: 10px 0;" %>
    <%= link_to "Return to posts", posts_path,
                                  :class => "btn btn-sm btn-primary" %>
  </div>

</div>
